.Main {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 52px auto 49px;
}

@media (min-width: 668px) {
  .Main {
    max-width: var(--breakpoint);
    width: 100%;
    height: 90vh;
    border-radius: 10px;
  }
}
