:root {
  --color-primary: #0049ff;
  --color-primary-opacity: #0099ff25;
  --color-white: #efefef;
  --color-gray: #555555;
  --color-secondary: #1c5480;
  --base-font: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --breakpoint: 668px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font);
  background-image: radial-gradient(
      var(--color-primary-opacity) 1px,
      transparent 1px
    ),
    radial-gradient(var(--color-primary-opacity) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input {
  font-family: var(--base-font);
}

* {
  box-sizing: border-box;
}
img {
  width: auto;
  height: auto;
}

.Container {
  display: grid;
  height: 100vh;
  place-items: center;
}
