.Wrapper {
  width: 100%;
  position: relative;
}

.Header {
  width: 100%;
  height: 52px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background: var(--white);
  border-bottom: 1px solid #ccc;
}

.Section {
  padding: 1rem;
}

.Title {
  font-size: 1.2rem;
  font-weight: 800;
}

.Menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: peru;
  padding: 0 1rem;
}
